.root {
    position: relative;
    width: 1280px;
    height: 840px;
    flex-direction: column;
    align-items: flex-start;
    outline-offset: -4px;
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;
  }
  .advicebox {
    position: absolute;
    left: 668px;
    top: 152px;
    width: 559px;
    height: 484px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;
    background-color: #f5f5f5;
    overflow: hidden;
  }

  .donetitle {
    color: #1b9aaa;
    font-size: 36px;
    line-height: 60px;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    font-weight: bold;
    letter-spacing: -0.02em;
    position: absolute;
    left: -64px;
    top: 151px;
    width: 449px;
    height: 142px;
    justify-content: center;
    flex-direction: column;
  }


  .heading {
    color: #323232;
    font-size: 20px;
    line-height: 30px;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
    position: absolute;
    left: 30px;
    top: 46px;
    width: 354px;
    height: min-content;
    flex-direction: column;
  }
  .advice {
    color: #323232;
    font-size: 20px;
    line-height: 30px;
    max-height: 360px;
    overflow: auto;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
    position: absolute;
    left: 50px;
    top: 97px;
    width: 436px;
    height: 360px;
    flex-direction: column;
    }
  .scroll {
    position: absolute;
    left: 533px;
    top: 84px;
    width: 5px;
    height: 186px;
    border-radius: 30px;
    background-color: #d9d9d9;
  }
  .downloadBox {
    position: absolute;
    left: 64px;
    top: 259px;
    width: 549px;
    height: 347px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;
    background-color: #f5f5f5;
    overflow: hidden;
    padding-left: 30px;
    padding-top: 30px;
  }

  .downloadboxTitle {
    color: #323232;
    font-size: 20px;
    line-height: 30px;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
    margin: auto;
    height: min-content;
    flex-direction: column;
  }

  .downloadMessage {
    color: #323232;
    font-size: 20px;
    line-height: 30px;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
    position: absolute;
    left: 50px;
    top: 97px;
    width: 436px;
    height: min-content;
    flex-direction: column;
    }

  .backtotop {
    position: absolute;
    left: 1010px;
    top: 677px;
    width: 197px;
    height: 82px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    background-color: #323232;
    border: none;
  }
  .backtotoptext {
    color: #fff;
    font-size: 20px;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Expand to fill the button width */
    height: 100%; /* Expand to fill the button height */
    white-space: nowrap;
    font-weight: bold;
  }
  .downloadButton {
    position: absolute;
    left: 350px;
    top: 500px;
    width: 239px;
    height: 82px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    background-color: #1b9aaa;
    border: none;
  }
  .downloadtext {
    color: #fff;
    font-size: 20px;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Expand to fill the button width */
    height: 100%; /* Expand to fill the button height */
    white-space: nowrap;
    font-weight: bold;
  }
  