
  .root {
    position: relative;
    width: 1280px;
    height: 840px;
    flex-direction: column;
    align-items: flex-start;
    outline-offset: -4px;
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;
  }
  .titletext {
    color: #1b9aaa;
    font-size: 36px;
    line-height: 60px;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    font-weight: bold;
    letter-spacing: -0.02em;
    position: absolute;
    left: 74px;
    top: 131px;
    width: 449px;
    height: 142px;
    justify-content: center;
    flex-direction: column;
  }
  .uploadbox {
    position: absolute;
    left: 63px;
    top: 240px;
    width: 1153px;
    height: 350px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;
    background-color: #f5f5f5;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .uploaddescription {
    position: absolute;
    left: calc(50% - -7.5px);
    top: calc(50% - -20px);
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    height: min-content;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: #323232;
    transform: translate(-50%, -50%);
  }

  .uploadImage {
    width: 135px;
    height: 108px;
    margin-left: auto;
    margin-right: auto;
    background-image:/* webpackIgnore: true */ url('../graphics/uploadpic.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .textBlock {
    color: #323232;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
  }
 
  .textBlock3 {
    position: absolute;
    left: 1013px;
    top: 620px;
    width: 441px;
    height: 31px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
    color: #323232;
    font-size: 16px;
    line-height: 30px;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
  }

 
  .changebutton {
    position: absolute;
    left: 1019px;
    top: 700px;
    width: 197px;
    height: 82px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    background-color: #1b9aaa;
    border: none;
  }

  .changetext {
    color: #fff;
    font-size: 20px;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
      letter-spacing: -0.02em;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      font-weight: bold;
  }

  label {
    color: #1b9aaa;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
  }

label:hover{
  color: #70c0cb;
  transition: 0.3s;
  text-decoration: underline;
}

#file-chosen{
  margin-left: 0.3rem;
  font-family: sans-serif;
  position: relative;

}
.emptyfileerror{
  margin-top: 0;
  color: #f90303;
    font-size: 16px;
    line-height: 30px;
    font-weight: 900;
    font-family: Zen Old Mincho, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
    position: absolute;
    left: 973px;
    top: 650px;
    width: 441px;
    height: 31px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
}