/* src/TopBar.css */

.TopBar {
  position: relative;
  font-weight: bold;
  width: 100%;
  height: 95px;
  display: flex; /* Use display: flex to align elements horizontally */
  justify-content: space-between; /* Space elements horizontally */
  align-items: center; /* Center items vertically */
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 0px 0px #00000040;
  border-bottom: 1px solid #ccc; /* Add a grey border line at the bottom */
}

.logopic {
  width: 100px;
  height: 64px;
  background-image:/* webpackIgnore: true */ url('../graphics/bearpic.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 30px
  }

.companyname {
  position: absolute;
  left: 140px;
  color: #000;
  font-size: 24px;
  line-height: 60px;
  font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
}


.home{
  color: #111;
  font-size: 24px;
  line-height: 60px;
  font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  text-decoration: underline;
  margin-right: 30px;
}
.home:hover{
  color: #1b9aaa;
  transition: 0.3s;
}

.contact {
  color: #000;
  font-size: 24px;
  line-height: 60px;
  font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  text-decoration: underline;
  margin-right: 30px;
}
.contact:hover{
  color: #1b9aaa;
  transition: 0.3s;
}