:root {
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  position: relative;
}

.homeAll{
  position: relative;
  top: 60px;
}

.podcastSoundWaveWaveformPatter {
  display: block;
  background-image:/* webpackIgnore: true */ url('graphics/podcastSoundWaveWaveformPatter.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10em;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 52px;
}

.todoketai {
  color: #000;
  font-size: 50px;
  line-height: 50px;
  font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  position: relative;
  bottom: 280px;
}

.aI {
  color: #000;
  font-size: 50px;
  line-height: 50px;
  font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.unnamed2 {
  position: flex;
  padding-top: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.textBlock {
  color: #000;
  font-size: 20px;
  line-height: 30px;
  font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
}

.startButton {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50px;
  width: 210px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  border-radius: 30px;
  background-color: #1b9aaa;
  box-shadow: 4px 4px 4px 0px #00000040, 0px 4px 4px 0px #00000040;
}

.startText {
  color: #fff;
  font-size: 36px;
  line-height: 30px;
  font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  position:relative;
  top:20px;
}
