.root {
    position: absolute;
    width: 1280px;
    height: 840px;
    flex-direction: column;
    align-items: flex-start;
    outline-offset: -4px;
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;
    
  }
  .inputTextOpt {
    color: #1b9aaa;
    font-size: 36px;
    line-height: 20px;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
    position: absolute;
    left: 74px;
    top: 50px;
    width: 449px;
    height: 142px;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
  }
/* Move both inputted text and placeholder text to start in the top left */
.textBox {
  resize: none;
    position: absolute;
    left: 63px;
    top: 140px;
    width: 1153px;
    height: 350px;
    border-radius: 30px;
    background-color: #f5f5f5;
    overflow: hidden;
    font-weight: normal;
    border: none;
    padding-top: 30px;
  padding-left: 20px
  }

.textBox input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    line-height: 30px;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
    padding: 0;
    text-align: left;
}

.textBox::placeholder {
    color: #323232;
    font-size: 20px;
    line-height: 30px;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
    position: absolute;
    left: 20px; /* Adjust the left position to 0 to move it to the left edge */
    top: 20px; /* Adjust the top position to 0 to move it to the top edge */
}

  
  .nextButton {
    position: absolute;
    left: 1019px;
    top: 682px;
    width: 197px;
    height: 82px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    background-color: #1b9aaa;
    border: none;
  }
  .next {
    color: #fff;
    font-size: 20px;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    font-weight: bold;
  }
    
  .description2 {
    position: absolute;
    left: 973px;
    top: 550px;
    width: 441px;
    height: 31px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
  }


  .textBlock2 {
    margin-top: 0;
  }

  .labelWrapper {
    font-size: 16px;
    font-family: Zen Old Mincho, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    flex-shrink: 1;
  }
  .textBlock3 {
    margin-top: 0;
    color: #323232;
    font-size: 16px;
    line-height: 30px;
    font-weight: 900;
    font-family: Zen Old Mincho, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
  }
  .skipButton {
    position: absolute;
    left: 787px;
    top: 682px;
    width: 197px;
    height: 82px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    background-color: #323232;
    border: none;
  }
  .skip {
    color: #fff;
    font-size: 20px;
    font-family: Hiragino Sans GB, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Expand to fill the button width */
    height: 100%; /* Expand to fill the button height */
    white-space: nowrap;
    font-weight: bold;
}

.emptytexterror{
  margin-top: 0;
  color: #f90303;
    font-size: 16px;
    line-height: 30px;
    font-weight: 900;
    font-family: Zen Old Mincho, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.02em;
    position: absolute;
    left: 973px;
    top: 580px;
    width: 441px;
    height: 31px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
}





  